
/* Header Section */
.header {
    background-color: #121212;
    color: #fff;
    padding: 0.1rem;

    
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .header nav a {
    margin: 0 1rem;
    color: #f9f7f7; /* Light color for links */
    text-decoration: none;
  }
  

button {
    margin: 0 1rem;
    color: #f9f7f7; /* Light color for links */
    background-color: #121212;
    text-decoration: none;
    outline: none;
    border: none;
   
  }