.home {
    background: linear-gradient(135deg, #f9f7f7, #dbe2ef); /* Background gradient from the palette */
    color: #3f72af; /* Dark blue text from the palette */
    text-align: center;
    padding: 0.5rem;
  }
  
  .home h2 {
    font-size: 2.5rem;
    color: #112d4e; /* Dark color for the heading */
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .home h2 .jlss-full-form sub {
    font-size: 1rem;
    display: block;
    margin-top: 0.2rem;
    color: #bebdbd; /* Lighter color for subscript */
    text-align: center;
  }